@tailwind base;
@tailwind components;
@tailwind utilities;



:root {

	/* colors */
	body {
	--secondary: #003B4A;
	--primary: #B8DED5;
	--green: #8EA66A;
	--yellow: #D9B95B;
	--red: #BF5349;
	--highlight: #F2F2F2;
	--shadow: #464646;
	}

}
	/* not quite here yet. need more tailwind config for this. might change to secondary palette */
	/* body.dark-mode{
	/* body.dark-mode{
		--primary: #003B4A;
		--secondary: #B8DED5;
		--green: #8EA66A;
		--yellow: #D9B95B;
		--red: #BF5349;
		--shadow: #F2F2F2;
		--highlight: #464646;
	} */

	html,
	body {
		height: 100%;
		margin: 0;
		@apply font-mono
	
	}
	
	#root {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	
	h1,h2,h3,h4,h5 {
		@apply font-sans
	}