@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
	:root {

		/* colors */
		
		--secondary: #003B4A;
		--primary: #B8DED5;
		--green: #8EA66A;
		--yellow: #D9B95B;
		--red: #BF5349;
		--highlight: #F2F2F2;
		--shadow: #464646;
		
	}


*{
	@apply transition-colors duration-300 ease-linear;
}

}


.theme-grayscale{

		--secondary: #0D0B07;
		--yellow: #D9D9D9;
		--red: #8C8B88;
		--green: #595856;
		--primary: #262118;
		--highlight: #ffffff;
		--shadow: #4f4f4f;
}

.theme-autumn{

		--secondary: #520120;
		--primary: #08403E;
		--green: #706513;
		--yellow: #B57114;
		--red: #962B09;
		--highlight: #F1E2C3;
		--shadow: #335802;
}

.theme-summer{

		--secondary: #A37AFF;
		--primary: #45D4DE;
		--green: #FF5294;
		--yellow: #F4CF5D;
		--red: #E2026B;
		--highlight: #fff;
		--shadow: #000;
}


	html,
	body {
		height: 100%;
		margin: 0;
		@apply font-mono
	
	}
	
	#root {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	
	h1,h2,h3,h4,h5 {
		@apply font-sans
	}

	@layer components{
		.container{
			min-height: 100vh;
			max-height: 100vh;
			overflow-y: auto;
			scroll-snap-type: y mandatory;
			scrollbar-width: none;
			scroll-behavior: smooth;
			scroll-margin-top: -10px;
		}

	}